@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

/* RESET */
* {
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
}

/* HEADER */
nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    gap: 30px;
    background: #171a1f;
    padding: 10px 0px;
}

nav .icono {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.icono h1 {
    color: white;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
}

nav ul li a {
    font-weight: 600;
}

nav ul li a:hover {
    color: #e4bb97;
    transition: 0.3s;
}

nav ul li {
    list-style: none;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: 200;
}

nav div img {
    display: flex;
    width: 40px;
    background-color: white;
    border-radius: 100%;
    padding: 3px;
}

.register {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}

.register button {
    margin-top: 15px;
    border: #171A1F 1px solid;
    width: 40%;
    height: 40px;
    background: #29C3E5;
    font-weight: 400;
    border-radius: 5px;
    cursor: pointer;
}

.register button:hover {
    background: #171A1F;
    color: white;
    transition: 0.3s;
}

/* MAIN */

main {
    display: grid;
    place-items: center;
    grid-template-columns: 35% 65%;
}

main aside img {
    width: 72vh;
    height: 88vh;

}

.logo span {
    color: #29c3e5;
}

section {
    display: flex;
    flex-direction: column;
    padding-left: 150px;
    gap: 20px;
    margin: 0px auto;
}

section form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

section form .grid {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

section form .grid div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

section form .grid div label {
    font-weight: 400;
}

section form .grid div input {
    width: 60%;
    height: 40px;
    border: #171A1F 1px solid;
    border-radius: 5px;
    padding: 0px 10px;
    font-weight: 400;
}

section form .grid div input:focus {
    outline: none;
    border: #29C3E5 1px solid;

}

section form .fotos {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}




/* FOOTER ESTATICO*/
footer {
    position: fixed;
    width: 100%;
    bottom: 0;
}

  /* FIN FOOTER ESTATICO */