/* Acomodo en grid de la pagina */
/* 5 Columnas para espaciar que no he buscado como cambiar el width de las columnas xd */


.grid-cont {
  display: grid;
  grid-template-areas:
    'titulo  titulo '
    'inputNombre numTarjeta'
    'vencimiento cvv '
    'direccion  zip'
    'botones botones ';
  gap: 20px;
  padding: 10px;
}

.grid-cont > div {
  
  text-align: center;
  padding: 20px 50px;
}

.gridTitulo {
  grid-area: titulo;
  text-align: center;
}

.gridNombre {
  grid-area: inputNombre;
}

.gridNumTarjeta {
  grid-area: numTarjeta;
}

.gridVencimiento {
  grid-area: vencimiento;
}

.gridCVV {
  grid-area: cvv;
}

.gridDireccion {
  grid-area: direccion;
}

.gridZip {
  grid-area: zip;
}

.gridBotones {
  grid-area: botones;
  display: inline-flex;
  justify-content: space-evenly;
  padding: 50px;
}

/* Estilo caja contenedora */
.caja {
  margin: 120px 200px 120px 200px;
  /* padding: 40px; */
  min-height: 64vh;
  background-color: #fef3ec;
  border: solid 1px black;
}

/* Clases de error cuando la informacion no es correcta */

.error {
  border: 2px solid #de3b40;
}

.hide {
  display: none;
}

.show {
  color: #de3b40;
}

.showExito {
  color: #1dd75b;
}

/* Fonts */
* {
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  box-sizing: border-box;
}

/* Estilo Titulo */
h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

/* Estilo botones*/
.botonAdd button {
  padding: 20px;

  max-height: 40px;
  width: 200px;

  background-color: #29c3e5;
  padding: 10px;
  padding-bottom: 40px;
  border-radius: 10px;
  font-size: large;
  border: 1px solid black;
}

.botonAdd button:hover {
  font-family: 'Poppins', sans-serif;
  font-style: italic;
  background-color: #171a1f;
  color: #ffffff;
  cursor: pointer;
}

#volver {
  margin-left: 34%;
}

/* Estilo inputs */
input {
  border: none;
  border-bottom: 2px solid black;
  background-color: #fef3ec;
}

/* Estilo form */
form {
  margin-left: auto;
  margin-top: 20px;
}
