@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;600&display=swap');

/* CONTENEDOR */

.contenedor {
    display: grid;
    grid-template-columns: 40% 60%;
    align-items: center;
}

.left,
.right {
    margin-top: 80px;
    padding-left: 100px;
}

/* FIN CONTENEDOR */

/* CONTENIDO IZQUIERDA */

.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    border-right: #000 2px solid;
}

.left-top {
    font-size: 20px;
    font-weight: 600;
}

.left-top a {
    color: #000;
    text-decoration: none;
    font-size: 15px;
}

.left-top a:hover {
    color: #e4bb97;
}

.nav-cuenta {
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.nav-cuenta li {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 20px;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
}

.nav-cuenta li a {
    text-decoration: none;
    color: black;
}

.nav-cuenta li a:hover {
    border-bottom: 2px solid #e4bb97;
}

.nav-cuenta i {
    color: #e4bb97;
    background: #000;
    padding: 8px;
    border-radius: 80%;
}

.seleccion {
}

/* FIN CONTENIDO IZQUIERDA */

/* CONTENIDO DERECHA */
.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.icon-img {
    display: grid;
    grid-template-columns: 20% 80%;
}

.icon-img img {
    width: 50%;
    object-fit: cover;
    border-radius: 50%;
    border: #000 2px solid;
}

.form-usuario {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 80%;
}

.flex-opciones {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-opciones span {
    display: flex;
    align-items: center;
    font-size: 15px;
    width: 50%;
    gap: 5px;
}

.form-usuario label {
    font-size: 20px;
    font-weight: 600;
}

.form-usuario input {
    border: #000 1px solid;
    padding: 10px;
    font-size: 15px;
    width: 100%;
}

.form-usuario input:focus {
    outline: none;
    border: #29c3e5 1px solid;
}

.img-edit {
    align-items: center;
    cursor: pointer;
    border-radius: 100%;
    padding: 8px;
    background: #000;
    border: #000 1px solid;
}

.img-edit i {
    color: #e4bb97;
}

.infopeclick-edit {
    display: flex;
    justify-content: center;
    border: #000 1px solid;
    background: #e4bb97;
    font-size: 15px;
    font-weight: 600;
    border-radius: 100%;
    cursor: pointer;
    padding: 10px;
    width: 15%;
}

.infopeclick-edit:hover {
    color: #000;
}

textarea {
    resize: none;
    border: #000 1px solid;
    padding: 8px;
    font-size: 15px;
}

textarea:focus {
    outline: none;
    border: #29c3e5 1px solid;
    padding: 5px;
}

.span-flex {
    display: flex;
    gap: 5px;
    align-items: center;
}
.span-flex .editar {
    width: 15%;
    font-size: 10px;
}
.span-flex .editar a {
    font-size: 10px;
}
.span-flex .editar a:hover {
    color: #000;
}

/* CSS SEGURIDAD */

.top-right-sec {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.top-right-sec h1 {
    font-weight: 600;
    font-size: 30px;
}

.logo-sec h2 {
    display: flex;
    align-items: center;
    gap: 10px;
    width: max-content;
}

.logo-sec i {
    color: #e4bb97;
}

.flex-opciones-sec {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 80%;
}

.formulario-seguridad {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 80%;
    align-items: center;
}

.flex-opciones-sec label {
    font-size: 25px;
    font-weight: 600;
}

.flex-opciones-sec input {
    border: #000 1px solid;
    padding: 10px;
    font-size: 15px;
    width: 100%;
}

.flex-opciones-sec input:focus {
    outline: none;
    border: #29c3e5 1px solid;
}
.boton-seguridad {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    border-radius: 5px;
    border: #000 1px solid;
}

.seguridad-clickSave {
    display: flex;
    align-items: center;
    gap: 10px;
    background: #e4bb97;
    border-radius: 5px;
    color: #fff;
    padding: 10px;
    font-size: 15px;
    font-weight: 600;
    width: fit-content;
    cursor: pointer;
}

.seguridad-clickSave:hover {
    color: #000;
}

/* FIN CSS SEGURIDAD */

/* CSS NEGOCIO */

.right-neg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    height: 48vh;
}

.top-right-neg {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 20px;
}
.flex-imagenes {
    display: flex;
    width: 40%;
    gap: 10px;
    align-items: center;
}

.flex-imagenes img {
    width: 50%;
    object-fit: cover;
    height: 100%;
    border: #000 1px solid;
}

.flex-imagenes button {
    border: #000 1px solid;
    background: #e4bb97;
    font-size: 15px;
    font-weight: 600;
    border-radius: 100%;
    cursor: pointer;
    padding: 10px;
    width: 8%;
}

.edit-fotos {
    background: fixed;
    border: none;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #e4bb97;
    cursor: pointer;
}

.edit-fotos i,
.flex-opciones span i {
    background: #000;
    padding: 8px;
    border-radius: 100%;
}

.form-negocio {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 80%;
}

.flex-opciones-neg {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-opciones-neg span {
    display: flex;
    align-items: center;
    font-size: 15px;
    width: 50%;
    gap: 5px;
}

.flex-opciones-neg button {
    border: none;
    background: fixed;
    color: #e4bb97;
    cursor: pointer;
}

.form-negocio label {
    font-size: 20px;
    font-weight: 600;
}

.form-negocio input {
    border: #000 1px solid;
    padding: 10px;
    font-size: 15px;
    width: 100%;
}

.form-negocio input:focus {
    outline: none;
    border: #29c3e5 1px solid;
}

textarea {
    resize: none;
    border: #000 1px solid;
}

textarea:focus {
    outline: none;
    border: #29c3e5 1px solid;
    padding: 5px;
}

.edit-bajo .infoNegocio-edit,
.infoNegocio-edit-uno,
.edicion-boton {
    border: #000 1px solid;
    background: #e4bb97;
    font-size: 10px;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px;
    width: 20%;
}

.infoNegocio-edit {
}

.edit-bajo {
    display: flex;
    justify-content: space-between;
}

.infoNegocio-edit-uno a,
.edicion-boton a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.infoNegocio-edit a:hover,
.infoNegocio-edit-uno a:hover,
.edicion-boton a:hover {
    color: #000;
}

/* FIN CSS SEGURIDAD */

/* CSS PAGO */

.right-pago {
    display: flex;
    flex-direction: column;

    gap: 50px;
}

.top-right-pago {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
}

.top-right-pago h1 {
    font-weight: 600;
    font-size: 30px;
    width: max-content;
}

.logo-pago h2 {
    display: flex;
    align-items: center;
    gap: 10px;
    width: max-content;
}

.metodos-pago {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.metodos-pago i {
    padding: 0px 5px;
    font-size: 30px;
}

.logo-pago i {
    color: #e4bb97;
}

.formulario-pago {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.flex-opciones-pago {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 90%;
}

.flex-opciones-pago span {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
}

.flex-opciones-pago label {
    font-size: 20px;
    font-weight: 600;
}

.flex-opciones-pago input {
    border: #000 1px solid;
    padding: 10px;
    font-size: 15px;
}

.flex-opciones-pago input::placeholder {
    font-size: 14px;
}

.flex-opciones-pago input:focus {
    outline: none;
    border: #29c3e5 1px solid;
}

.flex-boton-pago {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-guardar-pago {
    background: #e4bb97;
    border: #000 1px solid;
    border-radius: 5px;
    color: #fff;
    padding: 10px;
    font-size: 15px;
    font-weight: 600;
    width: 40%;
    cursor: pointer;
}

.btn-guardar-pago:hover {
    color: #000;
}

.tarjetas-pago {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.primer-tarjeta-pago {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

.primer-tarjeta-pago i {
    color: #e4bb97;
    font-size: 40px;
}

.btn-borrar-pago {
    background: #e4bb97;
    border: #000 1px solid;
    border-radius: 5px;
    color: #fff;
    padding: 5px;
    font-size: 15px;
    font-weight: 600;
    width: 30%;
    cursor: pointer;
}
.btn-borrar-pago:hover {
    color: #000;
}

/* FIN CSS PAGO */

/* CSS RESERVAS */

.right-reserva {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.top-right-reserva {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
}

.top-right-reserva h1 {
    font-weight: 600;
    font-size: 30px;
    width: max-content;
}

.logo-reserva h2 {
    display: flex;
    align-items: center;
    gap: 10px;
    width: max-content;
}

.reservas {
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: scroll;
    width: 90%;
    height: 48vh;
}

.reserva {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.reserva-izq {
    width: 30%;
    height: 100%;
}

.reserva-izq img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.boton-recomendar {
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.boton-recomendar button {
    width: 40%;
    height: 20%;
    background: #e4bb97;
    color: white;
    font-size: 15px;
    font-weight: 600;
    border-radius: 10px;
    border: #000 1px solid;
    cursor: pointer;
}
.boton-recomendar button:hover {
    color: #000;
}

/* FIN CONTENIDO DERECHA */

.hide {
    display: none;
}
.show {
    display: block;
}

/* FOOTER ESTATICO*/
footer {
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* FIN FOOTER ESTATICO */
