@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

/* RESET */
* {
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
}

/* FIN RESET */

/* CONTENIDO */
body {
  display: flex;
  flex-direction: column;
  min-height: 95vh;
  margin: 0;
  object-fit: cover;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.contenedor {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 75%;
  background: #fef3ec;
  border: #171a1f 1px solid;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}
.image img {
  display: flex;
  border-radius: 10px 0px 0px 10px;
}

.formulario {
  padding: 0px 30px;
  width: 100%;
  height: 100%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  height: 100%;
}

form span h1 {
  font-size: 30px;
  font-weight: 600;
  color: #171a1f;
  display: flex;
  justify-content: center;
}

form span p {
  font-weight: 400;
  color: #171a1f;
  display: flex;
  justify-content: center;
}

form div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
form div input {
  width: 100%;
  height: 40px;
  border: #171a1f 1px solid;
  border-radius: 5px;
  padding: 0px 10px;
  font-weight: 400;
}

form div input:focus {
  outline-color: #29c3e5;
}

form button {
  border: #171a1f 1px solid;
  width: 30%;
  height: 40px;
  background: #e4bb97;
  font-weight: 400;
  border-radius: 5px;
  cursor: pointer;
  color: #fef3ec;
  font-size: 15px;
}
form button:hover {
  color: #171a1f;
  transition: 0.3s;
}

form div a {
  text-decoration: none;
  color: #171a1f;
  font-weight: 600;
  font-size: 15px;
}
form div a:hover {
  color: #29c3e5;
  transition: 0.3s;
}
/* FIN CONTENIDO */

/* ESTILOS ERRORES */
.error {
  border: 2px solid #de3b40;
}

.hide {
  visibility: hidden;
}

.show {
  color: #de3b40;
}

.showExito {
  color: #1dd75b;
}

/* FIN ESTILOS ERRORES */

/* FOOTER ESTATICO*/
footer {
  position: fixed;
  width: 100%;
  bottom: 0;
}
/* FIN FOOTER ESTATICO */