/* RESET */
* {
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;

}


/* NAV LATERAL */
nav {
    min-height: 100vh;
    width: 20%;
    
    border-right: 1px solid black;
}
nav ul{
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 150px;
}
nav ul li{
    list-style: none;
    text-align: center;
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: 600;
}
nav ul li a:hover{
    padding: 20px 100px;
    color: #E4BB97;
    transform: scale(1.1);
    transition: all 0.5s ease;
    background-color: #E4BB97;  
    color: white;
}
nav ul li a:hover span{
    color: white;
    transition: 0.5s;
}

nav ul li a span{
    padding-right: 10px;
    color: #E4BB97;
}
.contenedor{
    display: flex;
    
}
.contenido{
    flex: 1;
}


.contenido header{
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    padding: 20px 40px;
    background: #E4BB97;
    color: white;
    
}
.contenido header h1{
    display: grid;
    justify-content: center;
    font-size: 30px;
    letter-spacing: 3px;
    font-style: italic;
    
    
}
.contenido header div{
    display:grid;
    justify-content: flex-end;
}
.contenido header a{
    gap: 10px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: 600;
    
}
.contenido header a img{
    width: 40px;
}





/* FOOTER */
footer {
    border-top: 1px solid #171A1F;
    background: #FEF3EC;
    padding: 20px 0px;
    position: absolute;
    bottom: 0;
    width: 100%; 
    text-align: center;
    
}

.footer {
    color: #171A1F;
    font-weight: 600;
}
