@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
/* RESET */
* {
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
}
/* HEADER */
nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    gap: 15px;
    background: #171A1F;
    padding: 10px 0px;
}

nav .icono{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.icono h1 {
    color: white;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    font-weight: 600;
}

nav ul li a:hover {
    color: #E4BB97;
    transition: 0.3s;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: 200;

}

nav img {
    width: 60px;
}

nav div img {
    display: flex;
    width: 40px;
    background-color: rgb(246, 241, 241);
    border-radius: 100%;
    padding: 3px;
}

/* MAIN */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 88vh;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:30px;
    width: 1000px;
    height: 600px;
    background: #FEF3EC;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

form label {
    font-size: 20px;
    font-weight: 600;
    color: #171A1F;
}

form input {
    width: 400px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #171A1F;
    padding: 0px 10px;
    font-size: 16px;
    font-weight: 400;
}

form button{
    border: #171A1F 1px solid;
    width: 20%;
    height: 40px;
    background: #29C3E5;
    font-weight: 400;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    color: #171A1F;
    font-weight: 400;


}







/* FOOTER */
footer {
    position: fixed;
    display: grid;
    justify-content: center;
    background: #FEF3EC;
    padding: 20px 0px;
    width: 100%;
    text-align: center;
    bottom: 0;
}

.footer {
    color: #171A1F;
    font-weight: 600;
}