@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
/* RESET */
* {
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
}
/* HEADER */
nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  gap: 15px;
  background: #171a1f;
  padding: 10px 0px;
}

nav .icono {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.icono h1 {
  color: white;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 2px;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  font-weight: 600;
}

nav ul li a:hover {
  color: #e4bb97;
  transition: 0.3s;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: 400;
}

nav div img {
  display: flex;
  width: 40px;
  background-color: rgb(246, 241, 241);
  border-radius: 100%;
  padding: 3px;
}

/* FOOTER */
footer {
  display: grid;
  place-items: center;
  background: #fef3ec;
  padding: 20px 0px;
}
.footer {
  color: #171a1f;
  font-weight: 600;
}
